html, body {
	height:100%;
	width: 100%;
	margin:0;
	padding:0;
}

body {
	font-family: "Roboto";
	background-color: #FFC94F;
    vertical-align: middle;
}

h1, h2 {

	color: #282828;
	text-align: center;
	margin-bottom: 0;
	margin-top:0;
	width:90vmin;
}

h1 {font-size: 12vmin; width:50vmin; line-height:12vmin;}

h2 {font-size: 8vmin;}

h1, h2, table, div img, .why, #sub, #about, .social, .external, #pics{
	margin-right: auto;
	margin-left: auto;
}

.why, #sub, #about, .external, .social{
	width: 50%;
}

.why, #sub, #about{
	font-weight:100;
}

h1, .external, td.miles {
	text-transform: uppercase;
}

.social{
	text-align:center;
	font-weight: 100;
	font-style:italic;
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width:400px) {
    #snark {
        white-space: nowrap;
    }
    .why {
    	width: 70%;
    }
}

td figure figcaption {

	font-style: italic;
	font-weight: 100;
	text-align: center;
	font-size: 2vmin;
}


#pics {

	width: 80%;
	display: table-cell;
   	
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    -webkit-align-content: space-around; /* Safari 7.0+ */
    display: flex;
    flex-flow: row wrap;
	justify-content: space-around;
}

table {
	width: 80%;
	margin-top:0;
	padding-top:0;
}

td {
	
	text-align: center;
	
}

td.miles{
	padding-bottom:1em;
}

div img {

	padding-bottom:0;
	margin-bottom:0;
	display: table-cell;
}

div #footer{

	text-align:right;
	color: #808080;
	font-weight: 100;
	background-color: #333333;
	margin-top:1em;
	padding-right:2em;
	opacity:.4;
}

figure #sol {
	float:right;
}


.why, #sub {
	text-align:center;
	
}

.why{
	padding-top: 1em;
}

#about {

	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

#star {
	text-align:right;
	font-weight:100;
	font-style:italic;
	font-size:10px;

}

#sub{
	font-style:italic;
	width: 60vw;
}

img.headshot {
	height: 20vmin;
	width: 20vmin;
}


.external ul {
	margin:0;
	padding:0;
	list-style-type: none;
	text-align: center;
}

.external ul li {
	display: inline-block;
	*display: inline;
}

.external ul li #kick{
	padding-left: 10vw;
	padding-right: 10vw;
}

.external ul li #kick:hover{
	padding-left: 6vw;
	padding-right: 6vw;
}

a:link {
	color:#E20048;
	text-decoration: none;

}

a:visited {
	color:#93002F;
	text-decoration: none;
}

a:hover {
	color:#06859d;
}

#home {
	float:left;
	padding: 5vw;
	position: fixed;

}

#bikeheads, #bikeheads_hover {
	width: 60vmin;
}

#bikeheads_hover {
	display:none;
}

#bikeheads:hover + #bikeheads_hover{
	display:block;
}
