body {
	font-family: "Roboto";
	background-color: #FFC94F;
    vertical-align: middle;
}



h1 {
	
	text-transform: uppercase;
	font-size: 12vmin;
	color: #282828;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top:0;
	width:90vmin;
	
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width:400px) {
    #snark {
        white-space: nowrap;
    }
    .why {
    	width: 70%;
    }
}

td figure figcaption {
	
	font-style: italic;
	font-weight: 100;
	text-align: center;
	font-size: 2vmin;
}


#pics {

	width: 80%;
	display: table-cell;
   	margin-left:auto;
   	margin-right:auto;
   	
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    -webkit-align-content: space-around; /* Safari 7.0+ */
    display: flex;
    flex-flow: row wrap;
	justify-content: space-around;
}

table {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top:0;
	padding-top:0;
}

td {
	
	text-align: center;
	
}

td.miles{
	padding-bottom:1em;
	text-transform: uppercase;
}

div img {

	padding-bottom:0;
	margin-bottom:0;
	display: table-cell;
   	margin-left:auto;
   	margin-right:auto;
}

div #footer{
	background-color: #333333;
}

figure #sol {
	float:right;
}
.why, #sub, #about{
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	font-weight:100;
}

.why, #sub {
	text-align:center;
	
}

.why{
	padding-top: 1em;
}

#about {

	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

#star {
	text-align:right;
	font-weight:100;
	font-style:italic;
	font-size:10px;

}

#sub{
	font-style:italic;
	width: 60vw;
}

img.headshot {
	height: 20vmin;
	width: 20vmin;
}

#external {

	text-transform: uppercase;
	width: 50%;
   	margin-left: auto;
   	margin-right: auto;

}
#external ul {
	margin:0;
	padding:0;
	list-style-type: none;
	text-align: center;
}

#external ul li {
	display: inline-block;
	*display: inline;
}

#external ul li #kick{
	padding-left: 10vw;
	padding-right: 10vw;
}

#external ul li #kick:hover{
	padding-left: 6vw;
	padding-right: 6vw;
}

a:link {
	color:#E20048;
	text-decoration: none;

}

a:visited {
	color:#93002F;
	text-decoration: none;
}

a:hover {
	color:#06859d;
}

#kick:hover:after{
	content:" Coming Soon!";
}

#home {
	float:left;
	padding: 5vw;
	position: fixed;

}

#bikeheads, #bikeheads_hover {
	width: 60vmin;
}

#bikeheads_hover {
	display:none;
}

#bikeheads:hover + #bikeheads_hover{
	display:block;
}
